@model simpleSystem.ViewModels.OrderCreateViewModels

@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<h1 style="font-family:微軟正黑體;">新增訂單</h1>
<hr />

<div class="demo-section k-content">
    <form id="employeeForm" data-role="validator" novalidate="novalidate" action="/Order/Create" method="post" role="form">

        <ul id="fieldlist">
            <li>
                @Html.LabelFor(model => model.CustName, htmlAttributes: new { @for = "" })
                <select id="CustID" name="CustID" class="form-control">
                    <option value=" 0">
                        請選擇客戶
                    </option>
                    @foreach (var Customer in (List<SelectListItem>)ViewBag.Customers)
                    {
                        if (0 == Int32.Parse(Customer.Value))
                        {
                            <option selected value="@Customer.Value">@Customer.Text</option>
                        }
                        else
                        {
                            <option value="@Customer.Value">@Customer.Text</option>
                        }

                    }
                </select>
            </li>
            <li>
                @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @for = "" })
                <select id="EmpId" name="EmpId" class="form-control">
                    <option value="0">請選擇負責員工</option>
                    @foreach (var Emp in (List<SelectListItem>)ViewBag.Emps)
                    {
                        if (0 == Int32.Parse(Emp.Value))
                        {
                            <option selected value="@Emp.Value">@Emp.Text</option>
                        }
                        else
                        {
                            <option value="@Emp.Value">@Emp.Text</option>
                        }

                    }
                </select>
            </li>
            <li>
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @for = "" })
                <input type="text" data-role='datepicker' id="OrderDate" name="OrderDate" data-type="date" required="required" />
                <span data-for='OrderDate' class='k-invalid-msg'></span>
            </li>
            <li>
                @Html.LabelFor(model => model.RequiredDate, htmlAttributes: new { @for = "" })
                <input type="text" data-role='datepicker' id="RequiredDate" name="RequiredDate" data-type="date" data-greaterdate-field="OrderDate" data-greaterdate-msg='需要日期需大於訂單日期' />
                <span data-for='RequiredDate' class='k-invalid-msg'></span>
            </li>
            <li>
                @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @for = "" })
                <input type="text" data-role='datepicker' id="ShippedDate" name="ShippedDate" data-type="date" data-greaterdate-field="OrderDate" data-greaterdate-msg='出貨日期需大於訂單日期' />
                <span data-for='ShippedDate' class='k-invalid-msg'></span>
            </li>

            <li>
                @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @for = "" })
                <select id="ShipperId" name="ShipperId" class="form-control">
                    <option value="0">請選擇出貨公司</option>
                    @foreach (var ShipperId in (List<SelectListItem>)ViewBag.ShipperIds)
                    {
                        if (0 == Int32.Parse(ShipperId.Value))
                        {
                            <option selected value="@ShipperId.Value">@ShipperId.Text</option>
                        }
                        else
                        {
                            <option value="@ShipperId.Value">@ShipperId.Text</option>
                        }

                    }
                </select>
            </li>

            <li>
                @Html.LabelFor(model => model.Freight, htmlAttributes: new { @for = "" })
                <input type="number" min="0" class="k-textbox" name="FirstName" id="Freight" required="required" />
            </li>
            <li>
                @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipName" id="ShipName" required="required" />
            </li>
            <li>
                @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipAddress" id="ShipAddress" required="required" />
            </li>
            <li>
                @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipCity" id="ShipCity" required="required" />
            </li>
            <li>
                @Html.LabelFor(model => model.ShipRegion, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipRegion" id="ShipRegion" required="required" />
            </li>
            <li>
                @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipPostalCode" id="ShipPostalCode" required="required" />
            </li>

            <li>
                @Html.LabelFor(model => model.ShipCountry, htmlAttributes: new { @for = "" })
                <input type="text" class="k-textbox" name="ShipCountry" id="ShipCountry" required="required" />
            </li>

            <li>
                <button type="submit" class="k-primary" data-role="button" data-click='save'>新增訂單</button>
            </li>
        </ul>

        <h2 style="font-family:微軟正黑體;">訂單明細</h2>
        <button type="button" onclick="partialCreate()" class="btn btn-success editButton">新增產品</button>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <table id="productTable" class="table table-striped">
                    <tr>
                        <th class="col-md-2">產品名稱</th>
                        <th class="col-md-2">單價</th>
                        <th class="col-md-2">數量</th>
                        <th class="col-md-2"></th>
                    </tr>

                    @Html.Partial("Partial_Create")

                </table>
            </div>
        </div>

    </form>
</div>








<script type="text/javascript">
    var index = 1;//代表解除隱藏到到幾個
    var tempTr;
    function partialCreate() {
        // 2016/06/14 解決
        var temp = $("#ProductTr").clone();
        var tableTr = $("#productTable tr");
        temp[0].id = temp[0].id + index;
        index++;
        $("#productTable").append(temp);
        deleteButton = $("#" + temp[0].id + " button");
    
        deleteButton[0].value = index - 1;
        console.log(deleteButton[0]);
        deleteButton.click(function (e) {
            console.log(e.target.value);
            console.log($("#ProductTr" + e.target.value));
            $("#ProductTr" + e.target.value).remove();

        });
    }



    $(function () {
        var container = $("#employeeForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                greaterdate: function (input) {
                    if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                        var date = kendo.parseDate(input.val()),
                            otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                        return otherDate == null || otherDate.getTime() < date.getTime();
                    }

                    return true;
                }
            }
        });
    });

    function save(e) {
        var validator = $("#employeeForm").data("kendoValidator");
        if (validator.validate()) {
            alert("訂單新增成功");
        }
    }
    $(document).ready(function () {
        $("#CustID").kendoComboBox();
        $("#EmpId").kendoComboBox();
        $("#ShipperId").kendoComboBox();


    });
</script>
<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    span.k-widget.k-tooltip-validation {
        display: inline;
        inline-block;
        width: 160px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>