@model simpleSystem.ViewModels.OrderEditViewModels



<form id="EditForm" action="/Order/Edit" method="post" role="form">

    <div class="form-horizontal">
        <h1 style="font-family:微軟正黑體;">修改訂單</h1>
        <hr />
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input form-control text-box single-line input-validation-error data-val-number="請輸入數字" data-val-required="必填" type="number" class="form-control" id="OrderID" name="OrderID" placeholder="請輸入要查詢的訂單編號" value="@Model.OrderID">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="CustID" name="CustID" class="form-control">
                    @foreach (var Customer in (List<SelectListItem>)ViewBag.Customers)
                    {
                        <option value="0">請選擇客戶</option>
                        if (Model.CustID == Int32.Parse(Customer.Value))
                        {
                            <option selected value="@Customer.Value">@Customer.Text</option>
                        }
                        else
                        {
                            <option value="@Customer.Value">@Customer.Text</option>
                        }

                    }
                </select>

            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <select id="EmpId" name="EmpId" class="form-control">
                    <option value="0">請選擇負責員工</option>
                    @foreach (var Emp in (List<SelectListItem>)ViewBag.Emps)
                    {
                        if (Model.EmpId == Int32.Parse(Emp.Value))
                        {
                            <option selected value="@Emp.Value">@Emp.Text</option>
                        }
                        else
                        {
                            <option value="@Emp.Value">@Emp.Text</option>
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" value="@ViewBag.OrderdateStr" class="form-control" id="OrderDate" name="OrderDate">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" value="@ViewBag.RequiredDateStr" class="form-control" id="RequiredDate" name="RequiredDate">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" value="@ViewBag.ShippedDateStr" class="form-control" id="ShippedDate" name="ShippedDate">
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ShipperId" name="ShipperId" class="form-control">
                    <option value="0">請選擇出貨公司</option>
                    @foreach (var ShipperId in (List<SelectListItem>)ViewBag.ShipperIds)
                    {
                        if (@Model.ShipperId == Int32.Parse(ShipperId.Value))
                        {
                            <option selected value="@ShipperId.Value">@ShipperId.Text</option>
                        }
                        else
                        {
                            <option value="@ShipperId.Value">@ShipperId.Text</option>
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Freight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Freight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Freight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipCountry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipCountry, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipRegion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipRegion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipRegion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipPostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h2 style="font-family:微軟正黑體;">訂單明細</h2>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th class="col-md-2">產品名稱</th>
                        <th class="col-md-2">單價</th>
                        <th class="col-md-2">數量</th>
                    </tr>
                    @foreach (var detail in ViewBag.orderDetailList)
                    {
                        <tr>
                            <td>
                                <select id="ProductID" name="ProductID[]" class="form-control">
                                    @foreach (var Product in (List<SelectListItem>)ViewBag.Products)
                                    {
                                        if (@detail.ProductID == Int32.Parse(Product.Value))
                                        {
                                            <option selected value="@Product.Value">@Product.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@Product.Value">@Product.Text</option>
                                        }

                                    }
                                </select>
                            </td>
                            <td><input type="number" value="@detail.UnitPrice" class="form-control" id="UnitPrice" name="UnitPrice[]"></td>
                            <td><input type="number" value="@detail.Qty" class="form-control" id="Qty" name="Qty[]"></td>
                        </tr>
                    }


                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-10">
                <input type="submit" value="存檔" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("回前一頁", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
