@model simpleSystem.ViewModels.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
    <!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1 style="font-family:微軟正黑體;">查詢訂單</h1>
    <!-- jQuery (Bootstrap 所有外掛均需要使用) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- 依需要參考已編譯外掛版本（如下），或各自獨立的外掛版本 -->
    <script src="js/bootstrap.min.js"></script>
    <form action="/Order" method="post" role="form">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.OrderDd)</label>
                    <input type="text" class="form-control" id="OrderDd" name="OrderDd" placeholder="請輸入要查詢的訂單編號">
                </div>
            </div>
            <div class="col-md-4 col-md-offset-*">
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.CustName)</label>
                    <input type="text" class="form-control" id="CustName" name="CustName" placeholder="請輸入要查詢的客戶名稱">
                </div>
            </div>
            <div class="col-md-4 col-md-offset-*">
                <label> @Html.LabelFor(model => model.EmpId)</label>
                <select id="EmpId" name="EmpId" class="form-control">
                    <option value="0"></option>
                    @foreach (var Emp in (List<SelectListItem>)ViewBag.Emps)
                    {
                        <option value="@Emp.Value">@Emp.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.ShipperId)</label>
                    <select id="ShipperId" name="ShipperId" class="form-control" >
                        <option value="0"></option>
                        @foreach (var ShipperId in (List<SelectListItem>)ViewBag.ShipperIds)
                        {
                            <option value="@ShipperId.Value">@ShipperId.Text</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col-md-4 col-md-offset-*">
                <div class="form-group">
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Orderdate)</label>
                        <input type="date" class="form-control" id="Orderdate" name="Orderdate">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-*">
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.ShippedDate)</label>
                    <input type="date" class="form-control" id="ShippedDate" name="ShippedDate">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>@Html.LabelFor(model => model.RequireDdate)</label>
                    <input type="date" class="form-control" id="RequireDdate" name="RequireDdate">
                </div>
            </div>
            <div class="col-md-1 col-md-offset-4">
                <div class="form-group">
                    <label></label>
                    <button type="submit" class="btn btn-primary form-control">查詢</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label></label>
                    <button type="" class="btn btn-warning form-control">清除</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label></label>
                    <button class="btn  btn-success">新增訂單</button>
                </div>
            </div>
        </div>

    </form>
    <hr style="display: block;height: 2px; border: 0;border-top: 3px solid #0000CC;margin: 1em 0; padding: 0;">
    <table class="table table-striped">
        <tr>
            <th class="col-md-2">訂單編號</th>
            <th class="col-md-2">客戶名稱</th>
            <th class="col-md-2">訂購日期</th>
            <th class="col-md-2">發貨日期</th>
            <th class="col-md-2"></th>
        </tr>
        @foreach (var orders in (List<simpleSystem.ViewModels.Order>)ViewBag.Data)
        {
            <tr>
                <td>@orders.CustId</td>
                <td>@orders.CustName</td>
                <td>@orders.OrderdateStr</td>
                <td>@orders.ShippedDateStr</td>
                <td>
                    <div class="row">
                        <button class="btn btn-warning">修改</button>
                        <button class="btn btn-danger">刪除</button>
                    </div>
                </td>
            </tr>
        }


    </table>

</body>
</html>